html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #F6F6F6;
}
.header {
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list_item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-right: 30px;
}
.list_item:hover {
  color: #e10f15;
  transition: 0.3s;
}
.list_item:last-of-type {
  margin-right: -20;
}
.link {
  text-decoration: none;
}
.input_block {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 11px 20px;
  display: flex;
}
.input {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  border: 0px;  
  letter-spacing: 0.05em;
  color: #000000;
  margin-right: 50px;
  outline: none;
}
.search_img {
  width: 30px;
}

/* HOME */
.home {
  padding: 120px 35px;
}
.main_content {
  display: flex;
  justify-content: space-between;
}
.text_content {
  display: flex;
  flex-direction: column;
}
.home_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 123px;
  letter-spacing: 0.05em;
  color: #000000;
  max-width: 570px;
}
.home_title_span {
  color: #c2c2c2;
}
.home_title_span2 {
  color:  #17B4CC;
}
.home_title_span3 {
 color:#F24E3A;
}

.home_subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #000000;
  max-width: 530px;
  margin-bottom: 30px;
}
.btn {
  background: #E10F15; 
  box-shadow: 0px 5px 7px rgba(7, 204, 230, 0.25);
  border-radius: 30px;
  width: 324px;
  height: 71px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
  border-style: none;
  margin-right: 20px;
  cursor: pointer;
}
.btn2 {
  background:#FB5014; 
  box-shadow: 0px 5px 7px rgba(251, 80, 20, 0.25);
  border-radius: 30px;
  width: 324px;
  height: 71px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
  border-style: none;
  margin-right: 20px;
  cursor: pointer;
}
.btn3 {
  background: #2C77B9; 
  box-shadow: 0px 5px 7px #1977B4;
  border-radius: 30px;
  width: 324px;
  height: 71px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.05em;
  color: #ffffff;
  border-style: none;
  margin-right: 20px;
  cursor: pointer;
}
.btn:hover {
  background:#000000;
  transition: 0.3s;
}
.btn2:hover {
  background:#17B4CC;
  transition: 0.3s;
}
.btn3:hover {
  background:#FB5014;
  transition: 0.3s;
}
.home_images {
  display: flex;
}
.other_imgs {
  display: flex;
  flex-direction: column;
  margin-top: 39px;
}
.shoes_img {
  width: 750px;
  margin-top: -170px;
}
.asside_img {
  margin-bottom: 55px;
}
